.1_64 { 
	overflow:hidden;
}
.e1_64 { 
	background-color:rgba(249.00000035762787, 250.00000029802322, 255, 1);
	width:1440px;
	height:1018px;
	position:absolute;
}
.e1_65 { 
	opacity:0.30000001192092896;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_66 { 
	background-color:rgba(95.625, 95.625, 95.625, 1);
	position:absolute;
	left:0px;
	top:0px;
}
.e1_95 { 
	width:391px;
	height:600px;
	position:absolute;
	left:107px;
	top:371px;
}
.e1_96 { 
	width:344px;
	height:120px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_97 { 
	background-color:rgba(255, 255, 255, 1);
	width:300px;
	height:48px;
	position:absolute;
	left:0px;
	top:25px;
}
.1_97 { 
	border:1px solid rgba(209.31249797344208, 209.31249797344208, 209.31249797344208, 1);
}
.e1_98 { 
	background-color:rgba(255, 255, 255, 1);
	width:300px;
	height:48px;
	position:absolute;
	left:0px;
	top:72px;
}
.1_98 { 
	border:1px solid rgba(209.31249797344208, 209.31249797344208, 209.31249797344208, 1);
}
.e1_99 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:344px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:0.25;
	line-height:px;
}
.e1_100 {
    background-color : rgba(255, 255, 255, 1);
	color:rgba(0, 0, 0, 1);
	opacity:0.4000000059604645;
	width:200px;
	height:33px;
	position:absolute;
	left:47px;
	top:37px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.e1_101 {
    background-color : rgba(255, 255, 255, 1);
	color:rgba(0, 0, 0, 1);
	opacity:0.4000000059604645;
	width:200px;
	height:33px;
	position:absolute;
	left:47px;
	top:83px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.e1_102 { 
	width:102px;
	height:48px;
	position:absolute;
	left:198px;
	top:245px;
}
.e1_103 { 
	width:102px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_104 { 
	background-color:rgba(94.0000019967556, 129.00000751018524, 172.00000494718552, 1);
	width:102px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
	color:rgba(255, 255, 255, 1);
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.e1_105 { 
	color:rgba(255, 255, 255, 1);
	width:87.72000122070312px;
	height:33px;
	position:absolute;
	left:7.139999866485596px;
	top:15px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.e1_106 { 
	width:240px;
	height:465px;
	position:absolute;
	left:0px;
	top:135px;
}
.e1_107 { 
	width:240px;
	height:465px;
	position:absolute;
	left:0px;
	top:0px;
}
.e1_108 { 
	background-color:rgba(255, 255, 255, 1);
	width:24px;
	height:24px;
	position:absolute;
	left:1px;
	top:125px;
}
.1_108 { 
	border:1px solid rgba(209.31249797344208, 209.31249797344208, 209.31249797344208, 1);
}
.e1_109 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	width:180px;
	height:33px;
	position:absolute;
	left:40px;
	top:129px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.e1_110 { 
	color:rgba(51.00000075995922, 51.00000075995922, 51.00000075995922, 1);
	opacity:0.30000001192092896;
	width:180px;
	height:33px;
	position:absolute;
	left:60px;
	top:396px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.e1_111 { 
	color:rgba(94.0000019967556, 129.00000751018524, 172.00000494718552, 1);
	width:180px;
	height:33px;
	position:absolute;
	left:60px;
	top:432px;
	font-family:Roboto;
	text-align:center;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.e1_112 { 
	color:rgba(63.178905844688416, 130.65870970487595, 213.56249392032623, 1);
	width:180px;
	height:33px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:0.25;
	line-height:px;
}
.e1_113 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:16.000415802001953px;
	height:16px;
	position:absolute;
	left:283px;
	top:0px;
}
.e1_114 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:16px;
	height:16px;
	position:absolute;
	left:17px;
	top:43px;
}
.e1_115 { 
	background-color:rgba(0, 0, 0, 1);
	opacity:0.10000000149011612;
	width:16px;
	height:16px;
	position:absolute;
	left:17px;
	top:88px;
}
.e1_116 { 
	color:rgba(66.00000366568565, 80.00000283122063, 92.00000211596489, 1);
	width:389px;
	height:167px;
	position:absolute;
	left:111px;
	top:165px;
	font-family:Roboto;
	text-align:left;
	font-size:54px;
	letter-spacing:0;
	line-height:px;
}
.e1_118 { 
	border-radius:500px;
	background-color:rgba(94.0000019967556, 129.00000751018524, 172.00000494718552, 1);
	width:914px;
	height:914px;
	position:absolute;
	left:1065px;
	top:91px;
}
.e1_119 { 
	width:307px;
	height:472px;
	position:absolute;
	left:1133px;
	top:220px;
}
.e1_120 { 
	color:rgba(255, 255, 255, 1);
	width:307px;
	height:302px;
	position:absolute;
	left:0px;
	top:170px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e1_121 { 
	border-radius:500px;
	background-color:rgba(204.00000303983688, 4.000000236555934, 4.000000236555934, 1);
	width:76px;
	height:76px;
	position:absolute;
	left:0px;
	top:76px;
}
