.body {
    background: #E5E5E5;
}
.11_88 {
	overflow:hidden;
}
.e11_88 { 
	background-color:rgba(196.65546834468842, 202.622592151165, 213.56249392032623, 1);
	width:1600px;
	height:994px;
	position:absolute;
}
.e11_89 { 
	border-radius:500px;
	background-color:rgba(94.0000019967556, 129.00000751018524, 172.00000494718552, 1);
	width:914px;
	height:914px;
	position:absolute;
	left:-585px;
	top:102px;
}
.e11_90 { 
	border-radius:500px;
	background-color:rgba(204.00000303983688, 4.000000236555934, 4.000000236555934, 1);
	width:76px;
	height:76px;
	position:absolute;
	left:118px;
	top:243px;
}
.e11_91 { 
	transform: rotate(-45deg);
	background-color:rgba(94.0000019967556, 129.00000751018524, 172.00000494718552, 1);
	width:1070.761962890625px;
	height:1010.4989624023438px;
	position:absolute;
	left:1098px;
	top:-140.85696411132812px;
}
.e11_92 { 
	transform: rotate(-45deg);
	border-radius:500px;
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1071.2003173828125px;
	height:1071.2003173828125px;
	position:absolute;
	left:-43.077310493048344px;
	top:-42.7673621107885px;
}
.e11_93 { 
	transform: rotate(-45deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1319.9569091796875px;
	height:64.27201843261719px;
	position:absolute;
	left:-46.443849071195245px;
	top:128.92197443570808px;
}
.e11_94 { 
	transform: rotate(-45deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1319.9569091796875px;
	height:64.27201843261719px;
	position:absolute;
	left:-133.1300263123485px;
	top:42.23570008821753px;
}
.e11_95 { 
	transform: rotate(-45deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1319.9569091796875px;
	height:64.27201843261719px;
	position:absolute;
	left:40.242484619056995px;
	top:215.60826496758818px;
}
.e11_96 { 
	transform: rotate(-45deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1319.9569091796875px;
	height:64.27201843261719px;
	position:absolute;
	left:126.9288210067075px;
	top:302.2945689864596px;
}
.e11_97 { 
	transform: rotate(-45deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1319.9569091796875px;
	height:64.27201843261719px;
	position:absolute;
	left:213.61499015566596px;
	top:388.9808460313484px;
}
.e11_98 { 
	transform: rotate(-45deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1319.9569091796875px;
	height:64.27201843261719px;
	position:absolute;
	left:300.3013373329095px;
	top:475.6671176814407px;
}
.e11_99 { 
	transform: rotate(-45deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1319.9569091796875px;
	height:64.27201843261719px;
	position:absolute;
	left:386.9876467465774px;
	top:562.3534270951086px;
}
.e11_100 { 
	transform: rotate(-45deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1319.9569091796875px;
	height:64.27201843261719px;
	position:absolute;
	left:473.6739885290244px;
	top:649.0397041399974px;
}
.e11_101 { 
	transform: rotate(-45deg);
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1319.9569091796875px;
	height:64.27201843261719px;
	position:absolute;
	left:560.3602979426923px;
	top:735.7260135536653px;
}
.e11_102 { 
	transform: rotate(-44.319299523404204deg);
	background-color:rgba(94.0000019967556, 129.00000751018524, 172.00000494718552, 1);
	width:336.4713134765625px;
	height:336.4713134765625px;
	position:absolute;
	left:1248px;
	top:920.0778198242188px;
}
.e11_103 { 
	transform: rotate(-44.319299523404204deg);
	background-color:rgba(129.00000751018524, 161.0000056028366, 193.00000369548798, 1);
	width:336.4713134765625px;
	height:336.4713134765625px;
	position:absolute;
	left:1353.1368408203125px;
	top:1014.1449584960938px;
}
.e11_104 { 
	transform: rotate(-44.319299523404204deg);
	background-color:rgba(64.00000378489494, 68.00000354647636, 237.0000010728836, 0.5);
	width:336.4713134765625px;
	height:336.4713134765625px;
	position:absolute;
	left:1462.237060546875px;
	top:1106.970458984375px;
}
.11_105 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e11_105 { 
	width:531px;
	height:0px;
	position:absolute;
	left:599px;
	top:559px;
}
.11_106 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e11_106 { 
	width:531px;
	height:0px;
	position:absolute;
	left:599px;
	top:659px;
}
.e11_107 { 
	color:rgba(255, 255, 255, 1);
	width:190px;
	height:96px;
	position:absolute;
	left:599px;
	top:407px;
	font-family:JK Abode;
	text-align:left;
	font-size:96px;
	letter-spacing:0;
}
.e11_108 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:92px;
	height:31px;
	position:absolute;
	left:599px;
	top:513px;
	font-family:Abel;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e11_109 { 
	color:rgba(153.00000607967377, 153.00000607967377, 153.00000607967377, 1);
	width:90px;
	height:31px;
	position:absolute;
	left:599px;
	top:613px;
	font-family:Abel;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}
.e11_110 { 
	background-color:rgba(129.00000751018524, 161.0000056028366, 193.00000369548798, 1);
	width:522px;
	height:51px;
	position:absolute;
	left:599px;
	top:723px;
}
.e11_111 { 
	color:rgba(255, 255, 255, 1);
	width:522px;
	height:51px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Abel;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.e11_112 { 
	width:307px;
	height:302px;
	position:absolute;
	left:44px;
	top:357px;
}
.e11_113 { 
	color:rgba(255, 255, 255, 1);
	width:307px;
	height:302px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e11_128 { 
	width:68px;
	height:68px;
	position:absolute;
	left:50px;
	top:37px;
}
.e11_129 { 
	background-color:rgba(255, 255, 255, 0.800000011920929);
	width:68px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e11_130 { 
	background-color:rgba(0, 0, 0, 1);
	width:33.17073059082031px;
	height:33.17073059082031px;
	position:absolute;
	left:17.414596557617188px;
	top:17.41465187072754px;
}
.11_131 { 
	border:7px solid rgba(0, 0, 0, 1);
}
.e11_131 { 
	width:33.17073059082031px;
	height:33.17073059082031px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_132 { 
	background-color:rgba(0, 0, 0, 1);
	width:6.634146690368652px;
	height:13.268293380737305px;
	position:absolute;
	left:16.58544921875px;
	top:9.951231956481934px;
}
.e11_133 { 
	background-color:rgba(0, 0, 0, 1);
	width:16.585365295410156px;
	height:33.17073059082031px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_134 { 
	background-color:rgba(0, 0, 0, 1);
	width:16.585365295410156px;
	height:33.17073059082031px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_135 { 
	transform: rotate(180deg);
	background-color:rgba(0, 0, 0, 1);
	width:6.634146690368652px;
	height:13.268293380737305px;
	position:absolute;
	left:16.58544921875px;
	top:9.951231956481934px;
}
