.e11_31963_1 {
	box-shadow:10.347240447998047px 11.496933937072754px 72.43067932128906px rgba(0, 0, 0, 0.23999999463558197);
	background-color:rgba(236.00000113248825, 239.00000095367432, 244.0000006556511, 1);
	width:1262px;
	height:1054px;
	position:absolute;
	left:405px;
	top:81px;
	border-top-left-radius:30.822368621826172px;
	border-top-right-radius:30.822368621826172px;
	border-bottom-left-radius:30.822368621826172px;
	border-bottom-right-radius:30.822368621826172px;
}
.e13_451_1 {
	width:952px;
	height:630px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_452_1 {
	width:632px;
	height:951px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_453_1 {
	width:476px;
	height:530px;
	position:absolute;
	left:626px;
	top:56px;
}
.e13_454_1 {
	width:952px;
	height:54px;
	position:absolute;
	left:px;
	top:805px;
}
.e13_455_1 {
	width:54px;
	height:54px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_456_1 {
	width:54px;
	height:54px;
	position:absolute;
	left:898px;
	top:0px;
}
.1_234 {
	overflow:hidden;
}
.e1_234 {
	box-shadow:10.347240447998047px 11.496933937072754px 72.43067932128906px rgba(0, 0, 0, 0.23999999463558197);
	background-color:rgba(236.00000113248825, 239.00000095367432, 244.0000006556511, 1);
	width:981px;
	height:1032px;
	border-top-left-radius:30.822368621826172px;
	border-top-right-radius:30.822368621826172px;
	border-bottom-left-radius:30.822368621826172px;
	border-bottom-right-radius:30.822368621826172px;
	position:absolute;
}
.e1_235 {
	background-color:rgba(46.000001057982445, 46.000001057982445, 72.00000330805779, 1);
	width:202.6570587158203px;
	height:937px;
	position:absolute;
	left:1337.6810302734375px;
	top:143.32376098632812px;
}
.e1_236 {
	box-shadow:0px 3.0822370052337646px 28.510690689086914px rgba(0, 0, 0, 0.10999999940395355);
	background-color:rgba(46.000001057982445, 46.000001057982445, 72.00000330805779, 1);
	width:118.6661148071289px;
	height:51.627464294433594px;
	position:absolute;
	left:1047.95068359375px;
	top:497.7812805175781px;
	border-top-left-radius:10.78782844543457px;
	border-top-right-radius:10.78782844543457px;
	border-bottom-left-radius:10.78782844543457px;
	border-bottom-right-radius:10.78782844543457px;
}
.2_414 {
	border:1px solid rgba(128.85468810796738, 149.23472732305527, 210.37499696016312, 1);
}
.e2_414 {
	width:170px;
	height:50px;
	position:absolute;
	left:81px;
	top:840px;
	border-top-left-radius:43px;
	border-top-right-radius:43px;
	border-bottom-left-radius:43px;
	border-bottom-right-radius:43px;
}
.ei2_414_4_139 {
	color:rgba(73.31249848008156, 118.73423516750336, 255, 1);
	width:68px;
	height:15px;
	position:absolute;
	left:51px;
	top:17.5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.3_1135 {
	border:1px solid rgba(123.0000002682209, 97.00000181794167, 255, 1);
}
.e3_1135 {
	width:632px;
	height:901px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e3_1136 {
	width:341px;
	height:783px;
	position:absolute;
	left:0px;
	top:0px;
}
.e3_1137 {
	width:341px;
	height:52px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei3_1137_2_118 {
	color:rgba(142.80000060796738, 150.9600019454956, 163.20001155138016, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:16px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1138 {
	width:341px;
	height:693px;
	position:absolute;
	left:0px;
	top:52px;
}
.e3_1139 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:37px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei3_1139_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1140 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:40px;
	position:absolute;
	left:0px;
	top:37px;
}
.ei3_1140_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	font-family:Fira Code;
	left:16px;
	top:14px;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1141 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:40px;
	position:absolute;
	left:0px;
	top:77px;
}
.ei3_1141_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1481 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:40px;
	position:absolute;
	left:0px;
	top:117px;
}
.ei3_1481_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1142 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:39px;
	position:absolute;
	left:0px;
	top:157px;
}
.ei3_1142_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1143 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:36px;
	position:absolute;
	left:0px;
	top:196px;
}
.ei3_1143_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1144 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:35px;
	position:absolute;
	left:0px;
	top:232px;
}
.ei3_1144_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1145 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:35px;
	position:absolute;
	left:0px;
	top:267px;
}
.ei3_1145_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1146 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:36px;
	position:absolute;
	left:0px;
	top:302px;
}
.ei3_1146_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1147 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:37px;
	position:absolute;
	left:0px;
	top:338px;
}
.ei3_1147_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1148 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:36px;
	position:absolute;
	left:0px;
	top:375px;
}
.ei3_1148_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1149 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:38px;
	position:absolute;
	left:0px;
	top:411px;
}
.ei3_1149_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1150 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:34px;
	position:absolute;
	left:0px;
	top:449px;
}
.ei3_1150_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1151 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:35px;
	position:absolute;
	left:0px;
	top:483px;
}
.ei3_1151_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1152 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:35px;
	position:absolute;
	left:0px;
	top:518px;
}
.ei3_1152_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1153 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:36px;
	position:absolute;
	left:0px;
	top:553px;
}
.ei3_1153_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1154 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:34px;
	position:absolute;
	left:0px;
	top:589px;
}
.ei3_1154_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1501 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:34px;
	position:absolute;
	left:0px;
	top:623px;
}
.ei3_1501_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1475 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:36px;
	position:absolute;
	left:0px;
	top:657px;
}
.ei3_1475_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1477 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:48px;
	position:absolute;
	left:0px;
	top:693px;
}
.ei3_1477_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1493 {
	background-color:rgba(255, 255, 255, 1);
	width:341px;
	height:36px;
	position:absolute;
	left:0px;
	top:741px;
}
.ei3_1493_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1439 {
	width:235px;
	height:783px;
	position:absolute;
	left:349px;
	top:5px;
}
.e3_1441 {
	width:235px;
	height:696px;
	position:absolute;
	left:0px;
	top:51px;
}
.e3_1442 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei3_1442_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1443 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:36px;
	position:absolute;
	left:0px;
	top:34px;
}
.ei3_1443_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1444 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:44px;
	position:absolute;
	left:0px;
	top:70px;
}
.ei3_1444_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1445 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:39px;
	position:absolute;
	left:0px;
	top:114px;
}
.ei3_1445_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1446 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:41px;
	position:absolute;
	left:0px;
	top:153px;
}
.ei3_1446_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1447 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:36px;
	position:absolute;
	left:0px;
	top:194px;
}
.ei3_1447_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1448 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:37px;
	position:absolute;
	left:0px;
	top:230px;
}
.ei3_1448_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1449 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:37px;
	position:absolute;
	left:0px;
	top:267px;
}
.ei3_1449_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1450 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:35px;
	position:absolute;
	left:0px;
	top:304px;
}
.ei3_1450_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1451 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:34px;
	position:absolute;
	left:0px;
	top:339px;
}
.ei3_1451_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1452 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:33px;
	position:absolute;
	left:0px;
	top:373px;
}
.ei3_1452_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1453 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:34px;
	position:absolute;
	left:0px;
	top:406px;
}
.ei3_1453_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1454 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:35px;
	position:absolute;
	left:0px;
	top:440px;
}
.ei3_1454_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1455 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:33px;
	position:absolute;
	left:0px;
	top:475px;
}
.ei3_1455_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1456 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:35px;
	position:absolute;
	left:0px;
	top:508px;
}
.ei3_1456_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1457 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:38px;
	position:absolute;
	left:0px;
	top:543px;
}
.ei3_1457_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1483 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:38px;
	position:absolute;
	left:0px;
	top:581px;
}
.ei3_1483_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1485 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:38px;
	position:absolute;
	left:0px;
	top:619px;
}
.ei3_1485_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1489 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:35px;
	position:absolute;
	left:0px;
	top:657px;
}
.ei3_1489_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1495 {
	background-color:rgba(255, 255, 255, 1);
	width:235px;
	height:42px;
	position:absolute;
	left:0px;
	top:692px;
}
.ei3_1495_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:203px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.ei3_1141_2_241 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e3_1477_1 {
	width:341px;
	height:48px;
	position:absolute;
	left:0px;
	top:729px;
}
.e3_1141_1 {
	width:341px;
	height:40px;
	position:absolute;
	left:0px;
	top:77px;
}
.ei3_1477_2_246_1 {
	color:rgba(24, 63, 201, 1);;
	width:309px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
