.body {
    background: #E5E5E5;
}

.11_446 {
	overflow:hidden;
}

.e11_136 {
    display: none;
}

.e11_446 {
	width:1600px;
	height:1200px;
	position:absolute;
}
.e11_31932 {
	width:1602px;
	height:1200px;
	position:absolute;
	left:1178px;
	top:0px;
}
.e11_31933 {
	box-shadow:10.347240447998047px 11.496933937072754px 72.43067932128906px rgba(0, 0, 0, 0.23999999463558197);
	background-color:rgba(68.79687398672104, 90.8471591770649, 117.93750151991844, 1);
	width:252px;
	height:1158px;
	position:absolute;
	left:19px;
	top:24px;
	border-top-left-radius:30.822368621826172px;
	border-top-right-radius:30.822368621826172px;
	border-bottom-left-radius:30.822368621826172px;
	border-bottom-right-radius:30.822368621826172px;
}
.e11_31934 {
	width:196.3463134765625px;
	height:139px;
	position:absolute;
	left:22.99999237060547px;
	top:19px;
}
.e11_31935 {
	color:rgba(255, 255, 255, 1);
	width:124px;
	height:139px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:18.49342155456543px;
	letter-spacing:0;
}
.e11_31936 {
	width:22.346309661865234px;
	height:22.346464157104492px;
	position:absolute;
	left:174px;
	top:9px;
}
.e11_31937 {
	border-radius:500px;
	width:22.346216201782227px;
	height:21.17009925842285px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31938 {
	border-radius:500px;
	width:8.82087516784668px;
	height:8.82087516784668px;
	position:absolute;
	left:13.525510787963867px;
	top:13.525590896606445px;
}
.e11_31939 {
	width:59.33305740356445px;
	height:100.42845153808594px;
	position:absolute;
	left:97px;
	top:209px;
}
.e11_31940 {
	border-radius:500px;
	background-color:rgba(196.00000351667404, 196.00000351667404, 196.00000351667404, 1);
	width:59.33305740356445px;
	height:59.33305740356445px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ellipse_212.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e11_31941 {
	color:rgba(255, 255, 255, 1);
	width:53.168582916259766px;
	height:25.428451538085938px;
	position:absolute;
	left:6px;
	top:75px;
	font-family:Poppins;
	text-align:left;
	font-size:16.952302932739258px;
	letter-spacing:0;
}
.e11_31942 {
	width:180.31085205078125px;
	height:50px;
	position:absolute;
	left:23px;
	top:360px;
}
.e11_31943 {
	box-shadow:0px 3.0822370052337646px 25.42845344543457px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(94.0000019967556, 129.00000751018524, 172.00000494718552, 1) 0%,rgba(46.000001057982445, 46.000001057982445, 72.00000330805779, 0) 100%) ;
	width:180.31085205078125px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30.822368621826172px;
	border-top-right-radius:30.822368621826172px;
	border-bottom-left-radius:30.822368621826172px;
	border-bottom-right-radius:30.822368621826172px;
}
.e11_31944 {
	color:rgba(245.00000059604645, 245.00000059604645, 254.00000005960464, 1);
	width:151px;
	height:45px;
	position:absolute;
	left:15px;
	top:118px;
	font-family:Poppins;
	text-align:left;
	font-size:10px;
	letter-spacing:0;
}
.e11_31945 {
	width:180.31085205078125px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31946 {
	color:rgba(255, 255, 255, 1);
	width:138px;
	height:34px;
	position:absolute;
	left:20px;
	top:15px;
	font-family:Poppins;
	text-align:left;
	font-size:13.87006664276123px;
	letter-spacing:0;
}
.e11_31947 {
	width:180.31085205078125px;
	height:50px;
	position:absolute;
	left:23px;
	top:451px;
}
.e11_31948 {
	box-shadow:0px 3.0822370052337646px 25.42845344543457px rgba(0, 0, 0, 0.25);
	background-image:linear-gradient(0deg, rgba(94.0000019967556, 129.00000751018524, 172.00000494718552, 1) 0%,rgba(46.000001057982445, 46.000001057982445, 72.00000330805779, 0) 100%) ;
	width:180.31085205078125px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:30.822368621826172px;
	border-top-right-radius:30.822368621826172px;
	border-bottom-left-radius:30.822368621826172px;
	border-bottom-right-radius:30.822368621826172px;
}
.e11_31949 {
	width:138px;
	height:42px;
	position:absolute;
	left:21px;
	top:16px;
}
.e11_31950 {
	color:rgba(255, 255, 255, 1);
	width:138px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:13.87006664276123px;
	letter-spacing:0;
}
.e11_31951 {
	box-shadow:0px 3.0822370052337646px 28.510690689086914px rgba(0, 0, 0, 0.10999999940395355);
	background-color:rgba(46.000001057982445, 46.000001057982445, 72.00000330805779, 1);
	width:118.6661148071289px;
	height:51.627464294433594px;
	position:absolute;
	left:319.2886962890625px;
	top:497.7812805175781px;
	border-top-left-radius:10.78782844543457px;
	border-top-right-radius:10.78782844543457px;
	border-bottom-left-radius:10.78782844543457px;
	border-bottom-right-radius:10.78782844543457px;
}
.11_31952 {
	border:1px solid rgba(128.85468810796738, 149.23472732305527, 210.37499696016312, 1);
}
.e11_31952 {
	width:170px;
	height:50px;
	position:absolute;
	left:28px;
	top:424px;
	border-top-left-radius:43px;
	border-top-right-radius:43px;
	border-bottom-left-radius:43px;
	border-bottom-right-radius:43px;
}
.ei11_31952_4_139 {
	color:rgba(73.31249848008156, 118.73423516750336, 255, 1);
	width:69px;
	height:15px;
	position:absolute;
	left:50.5px;
	top:17.5px;
	font-family:Inter;
	text-align:left;
	font-size:12px;
	letter-spacing:0;
}
.e11_31953 {
	background-color:rgba(255, 255, 255, 1);
	width:46.233551025390625px;
	height:46.233551025390625px;
	position:absolute;
	left:103px;
	top:1081px;
	border-top-left-radius:7.705592155456543px;
	border-top-right-radius:7.705592155456543px;
	border-bottom-left-radius:7.705592155456543px;
	border-bottom-right-radius:7.705592155456543px;
}
.e11_31954 {
	width:18.493419647216797px;
	height:18.493419647216797px;
	position:absolute;
	left:13.870138168334961px;
	top:13.869754791259766px;
}
.e11_31955 {
	width:18.493419647216797px;
	height:18.493419647216797px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31956 {
	width:18.493419647216797px;
	height:18.493419647216797px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31957 {
	width:18.493419647216797px;
	height:18.493419647216797px;
	position:absolute;
	left:13.870138168334961px;
	top:13.869754791259766px;
}
.e11_31958 {
	width:18.493419647216797px;
	height:18.493419647216797px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31959 {
	width:18.493419647216797px;
	height:18.493419647216797px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31960 {
	width:13.870064735412598px;
	height:13.870064735412598px;
	position:absolute;
	left:2.3117575645446777px;
	top:2.3118629455566406px;
}
.e11_31961 {
	background-color:rgba(104.00000140070915, 91.00000217556953, 255, 1);
	width:13.870064735412598px;
	height:13.870064735412598px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31962 {
	transform: rotate(89.99999999999999deg);
	color:rgba(255, 255, 255, 1);
	width:34px;
	height:28px;
	position:absolute;
	left:182px;
	top:625px;
	font-family:Poppins;
	text-align:left;
	font-size:18.49342155456543px;
	letter-spacing:0;
}
.e11_31980 {
	width:68px;
	height:68px;
	position:absolute;
	left:92px;
	top:985px;
}
.e11_31981 {
	background-color:rgba(255, 255, 255, 0.800000011920929);
	width:68px;
	height:68px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
}
.e11_31982 {
	background-color:rgba(0, 0, 0, 1);
	width:33.17073059082031px;
	height:33.17073059082031px;
	position:absolute;
	left:17.414596557617188px;
	top:17.41465187072754px;
}
.11_31983 {
	border:7px solid rgba(0, 0, 0, 1);
}
.e11_31983 {
	width:33.17073059082031px;
	height:33.17073059082031px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31984 {
	background-color:rgba(0, 0, 0, 1);
	width:6.634146690368652px;
	height:13.268293380737305px;
	position:absolute;
	left:16.58544921875px;
	top:9.951231956481934px;
}
.e11_31985 {
	background-color:rgba(0, 0, 0, 1);
	width:16.585365295410156px;
	height:33.17073059082031px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31986 {
	background-color:rgba(0, 0, 0, 1);
	width:16.585365295410156px;
	height:33.17073059082031px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31987 {
	transform: rotate(180deg);
	background-color:rgba(0, 0, 0, 1);
	width:6.634146690368652px;
	height:13.268293380737305px;
	position:absolute;
	left:16.58544921875px;
	top:9.951231956481934px;
}
.e11_31963 {
	box-shadow:10.347240447998047px 11.496933937072754px 72.43067932128906px rgba(0, 0, 0, 0.23999999463558197);
	background-color:rgba(236.00000113248825, 239.00000095367432, 244.0000006556511, 1);
	width:1062px;
	height:429px;
	position:absolute;
	left:405px;
	top:81px;
	border-top-left-radius:30.822368621826172px;
	border-top-right-radius:30.822368621826172px;
	border-bottom-left-radius:30.822368621826172px;
	border-bottom-right-radius:30.822368621826172px;
}
.e11_31964 {
	background-color:rgba(46.000001057982445, 46.000001057982445, 72.00000330805779, 1);
	width:202.6570587158203px;
	height:1062px;
	position:absolute;
	left:1337.6810302734375px;
	top:143.32376098632812px;
}
.e11_31965 {
	box-shadow:0px 3.0822370052337646px 28.510690689086914px rgba(0, 0, 0, 0.10999999940395355);
	background-color:rgba(46.000001057982445, 46.000001057982445, 72.00000330805779, 1);
	width:118.6661148071289px;
	height:51.627464294433594px;
	position:absolute;
	left:1047.95068359375px;
	top:497.7812805175781px;
	border-top-left-radius:10.78782844543457px;
	border-top-right-radius:10.78782844543457px;
	border-bottom-left-radius:10.78782844543457px;
	border-bottom-right-radius:10.78782844543457px;
}
.13_440 {
	border:1px solid rgba(49.00000087916851, 51.00000075995922, 63.000000044703484, 1);
}
.e13_440 {
	width:952px;
	height:300.989990234375px;
	position:absolute;
	left:52px;
	top:60px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e13_441 {
	width:952px;
	height:300px;
	position:absolute;
	left:1px;
	top:1px;
}
.e13_442 {
	width:952px;
	height:46.400001525878906px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_443 {
	color:rgba(49.00000087916851, 51.00000075995922, 63.000000044703484, 1);
	width:108px;
	height:23px;
	position:absolute;
	left:16px;
	top:11px;
	font-family:Source Sans Pro;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
	line-height:px;
}
.e13_444 {
	width:20px;
	height:20px;
	position:absolute;
	left:839px;
	top:13.1899995803833px;
}
.e13_445 {
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_446 {
	width:20px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_447 {
	background-color:rgba(49.00000087916851, 51.00000075995922, 63.000000044703484, 1);
	width:10px;
	height:6.174999713897705px;
	position:absolute;
	left:5px;
	top:6.6666669845581055px;
}
.e28_281 {
	width:38.5px;
	height:34.5px;
	position:absolute;
	left:865px;
	top:-41px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_448 {
	width:952px;
	height:300.5899963378906px;
	position:absolute;
	left:0px;
	top:46.400001525878906px;
}
.13_449 {
	border:1px solid rgba(49.00000087916851, 51.00000075995922, 63.000000044703484, 1);
}
.e13_449 {
	width:952px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e13_450 {
	width:952px;
	height:300px;
	position:absolute;
	left:1px;
	top:1px;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
}
.e13_451 {
	width:952px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
}
.e13_452 {
	width:952px;
	height:300px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_453 {
	width:952px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e13_454 {
	background-color:rgba(255, 255, 255, 0.0020000000949949026);
	width:952px;
	height:498px;
	position:absolute;
	left:0px;
	top:35px;
}
.e13_743 {
	transform: rotate(-90deg);
	background-color:rgba(68.79687398672104, 90.8471591770649, 117.93750151991844, 0.5799999833106995);
	width:123px;
	height:8px;
	position:absolute;
	left:905px;
	top:283px;
	border-radius:72px;
}
.e13_744 {
	background-color:rgba(68.79687398672104, 90.8471591770649, 117.93750151991844, 0.5799999833106995);
	width:344px;
	height:8px;
	position:absolute;
	left:82px;
	top:412px;
	border-top-left-radius:72px;
	border-top-right-radius:72px;
	border-bottom-left-radius:72px;
	border-bottom-right-radius:72px;
}
.e13_811 {
	color:rgba(59.00000028312206, 66.00000366568565, 82.00000271201134, 1);
	width:264px;
	height:35px;
	position:absolute;
	left:54px;
	top:16px;
	font-family:Poppins;
	text-align:left;
	font-size:28px;
	letter-spacing:-0.14000000059604645;
	line-height:px;
}
.e11_31968 {
	background-color:rgba(255, 255, 255, 1);
	width:120.977783203125px;
	height:46.233551025390625px;
	position:absolute;
	left:46.347137451171875px;
	top:845.3035888671875px;
	border-top-left-radius:10.78782844543457px;
	border-top-right-radius:10.78782844543457px;
	border-bottom-left-radius:10.78782844543457px;
	border-bottom-right-radius:10.78782844543457px;
}
.e11_31969 {
	width:18.493419647216797px;
	height:18.493419647216797px;
	position:absolute;
	left:13.869831085205078px;
	top:13.869754791259766px;
}
.e11_31970 {
	width:18.493419647216797px;
	height:18.493419647216797px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31971 {
	width:18.493419647216797px;
	height:18.493419647216797px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31972 {
	width:82.449951171875px;
	height:20.805099487304688px;
	position:absolute;
	left:19.26390838623047px;
	top:13.098855972290039px;
}
.e11_31973 {
	width:18.493419647216797px;
	height:18.493419647216797px;
	position:absolute;
	left:0px;
	top:0.7711221575737px;
}
.e11_31974 {
	width:18.493419647216797px;
	height:18.493419647216797px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31975 {
	width:18.493419647216797px;
	height:18.493419647216797px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31976 {
	width:13.870064735412598px;
	height:13.870064735412598px;
	position:absolute;
	left:2.311854839324951px;
	top:2.3123512268066406px;
}
.e11_31977 {
	background-color:rgba(104.00000140070915, 91.00000217556953, 255, 1);
	width:13.870064735412598px;
	height:13.870064735412598px;
	position:absolute;
	left:0px;
	top:0px;
}
.e11_31978 {
	color:rgba(104.00000140070915, 91.00000217556953, 255, 1);
	width:48.545223236083984px;
	height:20.805099487304688px;
	position:absolute;
	left:33.90472412109375px;
	top:0px;
	font-family:Poppins;
	text-align:left;
	font-size:13.87006664276123px;
	letter-spacing:0;
}
.e15_64029 {
	color:rgba(59.00000028312206, 66.00000366568565, 82.00000271201134, 1);
	width:264px;
	height:35px;
	position:absolute;
	left:54px;
	top:20px;
	font-family:Poppins;
	text-align:left;
	font-size:28px;
	letter-spacing:-0.14000000059604645;
	line-height:px;
}
.e28_277 {
	width:1109px;
	height:588px;
	position:absolute;
	left:-47px;
	top:70px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_278 {
	width:14.399999618530273px;
	height:14.399999618530273px;
	position:absolute;
	left:980px;
	top:28px;
}
.e28_279 {
	width:14.399999618530273px;
	height:14.399999618530273px;
	position:absolute;
	left:0px;
	top:0px;
}
.e28_287 {
	width:38.5px;
	height:34.5px;
	position:absolute;
	left:987px;
	top:87px;
	background-repeat:no-repeat;
	background-size:cover;
}

.e28_270 {
	box-shadow:10.347240447998047px 11.496933937072754px 72.43067932128906px rgba(0, 0, 0, 0.23999999463558197);
	background-color:rgba(255, 255, 255, 1);
	width:1377px;
	height:1000px;
	position:absolute;
	left:325px;
	top:24px;
	border-top-left-radius:30.822368621826172px;
	border-top-right-radius:30.822368621826172px;
	border-bottom-left-radius:30.822368621826172px;
	border-bottom-right-radius:30.822368621826172px;
}
.e28_271 {
	box-shadow:0px 3.0822370052337646px 28.510690689086914px rgba(0, 0, 0, 0.10999999940395355);
	background-color:rgba(46.000001057982445, 46.000001057982445, 72.00000330805779, 1);
	width:118.6661148071289px;
	height:51.627464294433594px;
	position:absolute;
	left:1444.483642578125px;
	top:497.7812805175781px;
	border-top-left-radius:10.78782844543457px;
	border-top-right-radius:10.78782844543457px;
	border-bottom-left-radius:10.78782844543457px;
	border-bottom-right-radius:10.78782844543457px;
}
.e28_272 {
	color:rgba(59.00000028312206, 66.00000366568565, 82.00000271201134, 1);
	width:616px;
	height:35px;
	position:absolute;
	left:48px;
	top:18px;
	font-family:Poppins;
	text-align:left;
	font-size:28px;
	letter-spacing:-0.14000000059604645;
	line-height:px;
}
.e28_273 {
	width:349px;
	height:300px;
	position:absolute;
	left:27px;
	top:91px;
	background-repeat:no-repeat;
	background-size:cover;
}
.e28_274 {
	width:846px;
	height:300px;
	position:absolute;
	left:439px;
	top:91px;
	background-repeat:no-repeat;
	background-size:cover;
	background-color:rgba(236.00000113248825, 239.00000095367432, 244.0000006556511, 1);
}
.e28_275 {
	width:1258px;
	height:500px;
	position:absolute;
	left:27px;
	top:400px;
	background-repeat:no-repeat;
	background-size:cover;
}

.e28_276 {
	width:629px;
	height:500px;
	position:absolute;
	left:0px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
	background-color:rgba(236.00000113248825, 198.00000095367432, 244.0000006556511, 1);
}

.e28_277 {
	width:629px;
	height:500px;
	position:absolute;
	left:629px;
	top:0px;
	background-repeat:no-repeat;
	background-size:cover;
	background-color:rgba(236.00000113248825, 239.00000095367432, 244.0000006556511, 1);
}

.2_695 {
	overflow:hidden;
}
.e2_695 {
	box-shadow:10.347240447998047px 11.496933937072754px 72.43067932128906px rgba(0, 0, 0, 0.23999999463558197);
	background-color:rgba(236.00000113248825, 239.00000095367432, 244.0000006556511, 1);
	width:981px;
	height:1032px;
	border-top-left-radius:30.822368621826172px;
	border-top-right-radius:30.822368621826172px;
	border-bottom-left-radius:30.822368621826172px;
	border-bottom-right-radius:30.822368621826172px;
	position:absolute;
}
.e2_696 {
	background-color:rgba(46.000001057982445, 46.000001057982445, 72.00000330805779, 1);
	width:202.6570587158203px;
	height:937px;
	position:absolute;
	left:1337.6810302734375px;
	top:143.32376098632812px;
}
.e2_697 {
	box-shadow:0px 3.0822370052337646px 28.510690689086914px rgba(0, 0, 0, 0.10999999940395355);
	background-color:rgba(46.000001057982445, 46.000001057982445, 72.00000330805779, 1);
	width:118.6661148071289px;
	height:51.627464294433594px;
	position:absolute;
	left:1047.95068359375px;
	top:497.7812805175781px;
	border-top-left-radius:10.78782844543457px;
	border-top-right-radius:10.78782844543457px;
	border-bottom-left-radius:10.78782844543457px;
	border-bottom-right-radius:10.78782844543457px;
}
.2_837 {
	border:1px solid rgba(123.0000002682209, 97.00000181794167, 255, 1);
}
.e2_837 {
	width:620px;
	height:197px;
	position:absolute;
	left:71px;
	top:51px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e2_838 {
	width:84px;
	height:148px;
	position:absolute;
	left:-47px;
	top:-27px;
}
.e2_840 {
	width:84px;
	height:3px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_841 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_841_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_842 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:48px;
}
.ei2_842_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_843 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:96px;
}
.ei2_843_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_844 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:144px;
}
.ei2_844_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_845 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:192px;
}
.ei2_845_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_847 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:240px;
}
.ei2_847_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_848 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:288px;
}
.ei2_848_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_849 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:336px;
}
.ei2_849_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_850 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:384px;
}
.ei2_850_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_851 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:432px;
}
.ei2_851_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_852 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:480px;
}
.ei2_852_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_853 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:528px;
}
.ei2_853_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_854 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:576px;
}
.ei2_854_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_855 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:624px;
}
.ei2_855_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_856 {
	background-color:rgba(255, 255, 255, 1);
	width:84px;
	height:48px;
	position:absolute;
	left:0px;
	top:672px;
}
.ei2_856_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:52px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1153 {
	width:109px;
	height:148px;
	position:absolute;
	left:45px;
	top:-27px;
}
.e2_1154 {
	width:109px;
	height:3px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_1155 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_1155_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1156 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:48px;
}
.ei2_1156_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1157 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:96px;
}
.ei2_1157_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1158 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:144px;
}
.ei2_1158_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1159 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:192px;
}
.ei2_1159_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1160 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:240px;
}
.ei2_1160_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1161 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:288px;
}
.ei2_1161_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1162 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:336px;
}
.ei2_1162_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1163 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:384px;
}
.ei2_1163_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1164 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:432px;
}
.ei2_1164_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1165 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:480px;
}
.ei2_1165_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1166 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:528px;
}
.ei2_1166_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1167 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:576px;
}
.ei2_1167_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1168 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:624px;
}
.ei2_1168_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1169 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:672px;
}
.ei2_1169_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1170 {
	background-color:rgba(255, 255, 255, 1);
	width:109px;
	height:48px;
	position:absolute;
	left:0px;
	top:720px;
}
.ei2_1170_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:77px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1424 {
	width:107px;
	height:148px;
	position:absolute;
	left:162px;
	top:-27px;
}
.e2_1425 {
	width:107px;
	height:4px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_1426 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_1426_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1427 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:48px;
}
.ei2_1427_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1428 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:96px;
}
.ei2_1428_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1429 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:144px;
}
.ei2_1429_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1430 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:192px;
}
.ei2_1430_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1431 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:240px;
}
.ei2_1431_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1432 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:288px;
}
.ei2_1432_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1433 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:336px;
}
.ei2_1433_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1434 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:384px;
}
.ei2_1434_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1435 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:432px;
}
.ei2_1435_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1436 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:480px;
}
.ei2_1436_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1437 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:528px;
}
.ei2_1437_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1438 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:576px;
}
.ei2_1438_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1439 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:624px;
}
.ei2_1439_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1440 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:672px;
}
.ei2_1440_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1441 {
	background-color:rgba(255, 255, 255, 1);
	width:107px;
	height:48px;
	position:absolute;
	left:0px;
	top:720px;
}
.ei2_1441_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:75px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1390 {
	width:123px;
	height:148px;
	position:absolute;
	left:277px;
	top:-27px;
}
.e2_1391 {
	width:123px;
	height:4px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_1392 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_1392_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1393 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:48px;
}
.ei2_1393_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1394 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:96px;
}
.ei2_1394_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1395 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:144px;
}
.ei2_1395_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1396 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:192px;
}
.ei2_1396_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1397 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:240px;
}
.ei2_1397_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1398 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:288px;
}
.ei2_1398_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1399 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:336px;
}
.ei2_1399_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1400 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:384px;
}
.ei2_1400_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1401 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:432px;
}
.ei2_1401_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1402 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:480px;
}
.ei2_1402_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1403 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:528px;
}
.ei2_1403_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1404 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:576px;
}
.ei2_1404_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1405 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:624px;
}
.ei2_1405_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1406 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:672px;
}
.ei2_1406_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1407 {
	background-color:rgba(255, 255, 255, 1);
	width:123px;
	height:48px;
	position:absolute;
	left:0px;
	top:720px;
}
.ei2_1407_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:91px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1187 {
	width:117px;
	height:148px;
	position:absolute;
	left:408px;
	top:-27px;
}
.e2_1188 {
	width:117px;
	height:5px;
	position:absolute;
	left:0px;
	top:0px;
}
.e2_1189 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei2_1189_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1190 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:48px;
}
.ei2_1190_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1191 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:96px;
}
.ei2_1191_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Fira Code;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1192 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:144px;
}
.ei2_1192_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1193 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:192px;
}
.ei2_1193_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1194 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:240px;
}
.ei2_1194_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1195 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:288px;
}
.ei2_1195_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1196 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:336px;
}
.ei2_1196_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1197 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:384px;
}
.ei2_1197_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1198 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:432px;
}
.ei2_1198_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1199 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:480px;
}
.ei2_1199_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1200 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:528px;
}
.ei2_1200_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1201 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:576px;
}
.ei2_1201_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1202 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:624px;
}
.ei2_1202_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1203 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:672px;
}
.ei2_1203_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e2_1204 {
	background-color:rgba(255, 255, 255, 1);
	width:117px;
	height:48px;
	position:absolute;
	left:0px;
	top:720px;
}
.ei2_1204_2_246 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:85px;
	height:20px;
	position:absolute;
	left:16px;
	top:14px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:0;
	line-height:px;
}
.e11_110_1 {
	background-color:rgba(129.00000751018524, 161.0000056028366, 193.00000369548798, 1);
	width:102px;
	height:51px;
	top: 140px;
	position:absolute;
}
.e11_111_1 {
	color:rgba(68.8500027358532, 74.96999993920326, 84.15000334382057, 1);
	width:102px;
	height:51px;
	position:absolute;
	font-family:Abel;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}